.card_custom{

    p {
        background-color: #aaaa;
        color: black;
        padding: 10px;
        border-radius: 5cm ;
    }

    button{
        background-color: black;

        color: white;
    }
}
